<div class="container">
  <div class="container__left">
    <div class="user">
      <div class="user__avatar">
        <img src="https://i.pinimg.com/564x/c7/ab/cd/c7abcd3ce378191a3dddfa4cdb2be46f.jpg" alt="User">
      </div>

      <div class="user__name">
        <h4>John Doe</h4>
      </div>
    </div>


    <div class="nav">
      <div class="nav__item">
        Home
      </div>
      <div class="nav__item">
        Dashboard
      </div>
      <div class="nav__item">
        Components
      </div>
      <div class="nav__item">
        Links
      </div>
    </div>
  </div>

  <div class="container__right">
    <toothless-table></toothless-table>
  </div>
</div>
